extends layout

block content
  h1= title

  a(href="/authn/twitter") Sign in with Twitter
  br
  a(href="/authz/twitter") Authorize this Twitter App

  - each post in body.data.children
    .post.row.well
      .col-md-1
        button= post.data.ups
      .col-md-3
        img(src=post.data.thumbnail)
      .col-md-6
        a(href=post.data.url)
          = post.data.title
        form(action="/subreddit/tweet")
          .form-group
            textarea.form-control(name="text")= post.data.title
          input(type="hidden", name="url", value=post.data.url)
          input.btn.btn-primary(type="Submit", value="Tweet")
      .col-md-2
        a.btn.btn-default(href="/subreddit/tweet?url="+post.data.url+"&text="+post.data.title)
          = "Tweet"
